.container{
  width: 100%;
}
.aboutMe{
  border: 4px solid orange;
  padding: 5px;
  margin left: : 10px;
  font-weight: bold;
  font-family: sans-serif;
  width: 67%;
  float: left;
  background-color: lightblue;
}

.focus{
  font-weight: bolder;
  font-family: monospace;
}

.projectList{
  border: 4px solid lightblue;
  padding: 5px;
  margin-right: 10px;
  font-weight: bolder;
  font-style: oblique;
  width: 30%;
  height:auto;
  float: left;
  background-color: orange;


}

body{
  background: azure;

}

.projectList li{
  font-size: 98%;
}

.aboutMe li{
  font-size: 108%;

}

img{
  display: block;
  margin:auto;
}

h1{
  text-align: center;
  background-color: lightyellow;
}
h2{
  text-align: center;
}

p{
  font-size: 115%;
}
