li {
  font-size: 95;
}
.aboutMe{
  font-size: 65;
  border: 4px solid lightblue;
  padding: 6px;
  margin left: : 20px;
  font-weight: bold;
  font-family: sans-serif;
  width: 65%;
  float: left;
  background-color: pink;
}

.focus{
  font-weight: bolder;
  font-family: monospace;
}

.projectList{
  border: 4px solid lightblue;
  padding: 5px;
  margin-right: 10px;
  font-weight: bolder;
  font-style: oblique;
  width: 20%;
  height:auto;
  float: left;
  background-color: orange;


}
body{
  background: azure;
}
